body {
    background-color: mistyrose;
    margin: 0;
  }

h1 {
    color: black;
    background-color: ghostwhite;
    padding: 16px;
    text-align: center;
    margin-top: 32px;
    font-family: 'Great Vibes';font-size: 22px;
  }

p {
    color: black;
  }

.container {
    padding: 24px;
}

.item {
    background-color: ghostwhite;
    margin-top: 48px;
    padding: 4px 24px;
}
